:root {
    --image-width: 280px;
}

.comic {
    width: var(--image-width);
}

#comicContainer {
    padding-top: 1.5em;
}

#imageContainer {
    width: var(--image-width);
    margin-left: auto;
    margin-right: auto;
}

#shuffleBtn {
    padding-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: white;
    font: 14px "Century Gothic", Futura, sans-serif;
    border: 2px solid black;
}

#comicName {
    padding-top: 0.5em;
    padding-bottom: 1.5em;
}