:root {
    --image-width: 280px;
}

@media screen and (min-width : 360px) {
    :root {
        --image-width: 320px;
    }
}

@media screen and (min-width : 375px) {
    :root {
        --image-width: 335px;
    }
}

@media screen and (min-width : 411px) {
    :root {
        --image-width: 371px;
    }
}

@media screen and (min-width : 414px) {
    :root {
        --image-width: 374px;
    }
}

@media screen and (min-width : 768px) {
    :root {
        --image-width: 728px;
    }
}

@media screen and (min-width : 1024px) {
    :root {
        --image-width: fit-content;
    }
}

.comic {
    width: var(--image-width);
}

#comicContainer {
    padding-top: 1.5em;
}

#imageContainer {
    width: var(--image-width);
    margin-left: auto;
    margin-right: auto;
}

#comicName {
    padding-top: 0.5em;
    padding-bottom: 1.5em;
}

@media screen and (min-width : 768px) {
    #comicName {
        font: 1.5em "Century Gothic", Futura, sans-serif;
    }
}

.buttongroup {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.clearer { clear: both; }

.buttongroup button {
    padding-top: 1.5em;
    background: white;
    font: 1em "Century Gothic", Futura, sans-serif;
    border: 2px solid black;
    float: left;
    margin-right: 5px;
    margin-bottom: 1.5em;
    color: black
}

@media screen and (min-width : 768px) {
    .buttongroup button {
        font: 1.5em "Century Gothic", Futura, sans-serif;
    }
}

